{name, "ibrowse"}.
{authors, ["Chandrashekhar Mullaparthi <Chandrashekhar.Mullaparthi@gmail.com>"]}.
{description, "Erlang HTTP client"}.
{homepage, "https://github.com/cmullaparthi/ibrowse"}.
{rebar_compatible, true}.
{license, "LICENSE", "BSD_LICENSE]"}.
{url, {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v2.1.1"}}}.
{applications, [ibrowse]}.
